*{
    margin: 0;
    padding: 0;
}

#wrongPassword{
    margin: 10px 5px;
}

#wrongPassword span{
    padding: 5px;
    color : #741212;
    align-items:center ;
}

header nav{
    position: relative;
    padding:10px;
}

header nav img{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    width: 250px;
}

section {
    position: relative;
    padding: 10px;
}
#access{
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 300px;
    border: 1px solid rgb(93, 152, 230);
    border-radius: 10px;
    padding: 20px;
}

/* #access{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 200px;
    height: 300px;
    border: 1px solid rgb(93, 152, 230);
    border-radius: 10px;
    padding: 20px;
} */

#fade{
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.4) ;
  z-index: 5;  
}
#modal_card{
    position: relative;
    top:30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border:1px solid #4fa81b;
    border-radius: 20px;
    width: 330px;
    height: 150px;
    z-index: 7;
    background-color: #fff;
    box-shadow: 3px 3px black;
    padding: 10px;
    
}

#fade,modal{
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

#fade.hide, 
#modal_card.hide{
    opacity: 0;
    pointer-events: none;
    z-index: -5;

}

/*-----------side menu  cadastrar pessoas-----------*/

#header_home{
    background-color: rgb(99, 178, 209);
    border-bottom:2px solid  rgb(56, 141, 167);
}

#side_menu{
    border-right:2px solid  rgb(56, 141, 167);
    background-color: rgb(99, 178, 209);
    width: 20%;
    height: 560px;
}

#side_menu ul{
    background-color: rgb(99, 178, 209);
  width: 100%;
}

#side_menu ul li{
    border-bottom: 2px solid white;
    width: 100%;
    padding: 5px;
}

#side_menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}




